

body {
    background-color: rgb(238, 242, 242);
    color: rgb(15, 16, 15);
}

.HeaderTxt {
    border-bottom: 4px solid rgb(2, 153, 75);
    font-family: 'Cambria';
}

textarea {
    resize: none;
    width: 600px;
    height: 63px;
    border-radius: 3px;
}

button {
    margin-top: 25px;
    font-weight: bold;
    background-color: rgb(15, 16, 15);
    color: rgb(241, 235, 235);
    font-size: 18px;
    height: 50px;
}

input {
    margin-bottom: 25px;
    gap: 13%;
}


.log-item {
    border: 2px dotted black;
}
